<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.EstimateDAO">

<select id="selectEstimList" resultType="estimate">
	SELECT est_no
	FROM estimate
</select>


<select id="selectDetail" parameterType="str" resultType="estimate">
	SELECT *
	  FROM estdetail
	 WHERE est_no = #{est_no}
</select>

<select id="selectEname" parameterType="int" resultType="str">
	SELECT e_name
	  FROM emp
	 WHERE emp_no = #{emp_no}
</select>

<select id="selectdetail" resultType="estimate">
	SELECT *
	FROM estimate
	WHERE est_no = #{est_no}
</select>

<insert id="insertEstimate">
	INSERT INTO estimate (
		est_no,
		sys_regdate,
		emp_no,
		fc_no,
		amount,
		progress,
		enabled,
		wh_no,
		quantity,
		sys_up,
		sys_updatedate,
		sys_reg,
		files
		)
	VALUES(
		#{est_no},
		#{sys_regdate},
		#{emp_no},
		#{fc_no},
		#{amount},
		#{progress},
		#{enabled},
		#{wh_no},
		#{quantity},
		#{sys_up},
		#{sys_updatedate},
		#{sys_reg},
		#{fileName}
	)
</insert>

</mapper>