<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.EstimateDAO">

<select id="selectEstimList" resultType="Map">
	SELECT ed.EST_NO
		  ,MAX(ed.regdate) regdate
		  ,MAX((SELECT c_name FROM company WHERE c_no = ed.C_NO)) c_name
		  ,MAX((SELECT e_name FROM emp WHERE emp_no = ed.EMP_NO)) e_name
		  ,MAX((SELECT pr_name FROM product WHERE pr_no = ed.pr_no)) p_name
		  ,count(ed.PR_NO) pr_no
		  ,CASE WHEN count(ed.PR_NO) <![CDATA[ > ]]> 1
		  		THEN MAX((SELECT pr_name FROM product WHERE pr_no = ed.pr_no)) || ' 외 ' || (count(ed.PR_NO)-1)  || '건'
		  		ELSE MAX((SELECT pr_name FROM product WHERE pr_no = ed.pr_no))
		    END p_amount_name
		  ,SUM(ed.amount) amount
		  ,MAX(ed.PROGRESS) progress
		  ,MAX(ed.FILES) files 
	  FROM ESTIMATE e , ESTDETAIL ed
	 WHERE 1=1
	   AND e.EST_NO = ed.EST_NO
	 GROUP BY ed.est_no
</select>

<select id="selectDetail" parameterType="str" resultType="Map">
	SELECT ed.EST_NO
		  ,MAX(ed.regdate) regdate
		  ,MAX((SELECT c_name FROM company WHERE c_no = ed.C_NO)) c_name
		  ,MAX((SELECT e_name FROM emp WHERE emp_no = ed.EMP_NO)) e_name
		  ,MAX((SELECT fc_name FROM fc WHERE fc_no = ed.fc_no)) fc_name
		  ,MAX((SELECT pr_name FROM product WHERE pr_no = ed.pr_no)) p_name
		  ,MAX((SELECT wh_name FROM WAREHOUSE WHERE wh_no = ed.wh_no)) wh_name
		  ,MAX(ed.QUANTITY) QUANTITY
		  ,count(ed.PR_NO) pr_no
		  ,SUM(ed.amount) amount
		  ,MAX(ed.PROGRESS) progress
		  ,MAX(ed.FILES) files 
	  FROM ESTIMATE e , ESTDETAIL ed
	 WHERE 1=1
	   AND e.EST_NO = ed.EST_NO
	   AND ed.est_no = #{est_no}
	 GROUP BY ed.est_no
</select>

<select id="selectDetail" parameterType="str" resultType="Map">
	SELECT ed.EST_NO
		  ,MAX(ed.regdate) regdate
		  ,MAX((SELECT c_name FROM company WHERE c_no = ed.C_NO)) c_name
		  ,MAX((SELECT e_name FROM emp WHERE emp_no = ed.EMP_NO)) e_name
		  ,MAX((SELECT fc_name FROM fc WHERE fc_no = ed.fc_no)) fc_name
		  ,MAX((SELECT pr_name FROM product WHERE pr_no = ed.pr_no)) p_name
		  ,MAX((SELECT wh_name FROM WAREHOUSE WHERE wh_no = ed.wh_no)) wh_name
		  ,MAX(ed.QUANTITY) QUANTITY
		  ,count(ed.PR_NO) pr_no
		  ,SUM(ed.amount) amount
		  ,MAX(ed.PROGRESS) progress
		  ,MAX(ed.FILES) files 
	  FROM ESTIMATE e , ESTDETAIL ed
	 WHERE 1=1
	   AND e.EST_NO = ed.EST_NO
	   AND ed.est_no = #{est_no}
	 GROUP BY ed.est_no
</select>

<select id="forEstimList" resultType="Map">
	SELECT amount
	  	  ,quantity
	  	  ,(SELECT pr_name FROM product WHERE pr_no = ed.pr_no) p_name
	  	  ,(SELECT wh_name FROM WAREHOUSE WHERE wh_no = ed.wh_no) wh_name
  	  FROM ESTDETAIL ed
	 WHERE est_no = #{est_no} 
</select>

<select id="getProductList" resultType="product">
	SELECT p.pr_name, c.c_name
	FROM product p, company c
	WHERE p.c_no = c.c_no;
</select>

<select id="getProductList" resultType="product">
	SELECT p.pr_name, c.c_name
	FROM product p, company c
	WHERE p.c_no = c.c_no;
</select>

<insert id="insertEstimate">
	INSERT INTO estimate (
		est_no,
		sys_regdate,
		emp_no,
		fc_no,
		amount,
		progress,
		enabled,
		wh_no,
		quantity,
		sys_up,
		sys_updatedate,
		sys_reg,
		files
		)
	VALUES(
		#{est_no},
		#{sys_regdate},
		#{emp_no},
		#{fc_no},
		#{amount},
		#{progress},
		#{enabled},
		#{wh_no},
		#{quantity},
		#{sys_up},
		#{sys_updatedate},
		#{sys_reg},
		#{fileName}
	)
</insert>

</mapper>