<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.ManagementDAO">

	<select id="getAllDraft" resultType="draft">
		SELECT d.*, e.e_name e_name
		FROM draft d, emp e
		WHERE d.c_no = #{c_no}
		  AND d.emp_no = e.emp_no
		ORDER BY d.DR_NO
	</select>
	
	<select id="getDraftCount" resultType="int">
		SELECT COUNT(*) FROM draft
		WHERE c_no = #{c_no}
	</select>
	
	<insert id="documentRegist">
		INSERT INTO draft VALUES (
		'D'||LPAD(dr_no_seq.nextval, 4, '0'),
		#{emp_no},
		sysdate,
		#{title},
		#{dg_no},
		#{gb},
		#{files},
		'결재진행중(0)',
		#{con},
		#{pl_no},
		'',
		'',
		#{c_no}
		)
		
	</insert>

</mapper>