<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.ProcessDAO">

	<insert id="insertProcess" parameterType="process">
		INSERT 	INTO process (pc_no, pc_code, pc_name, pc_order) 
				VALUES (pc_no_seq.nextVal,#{pc_code},#{pc_name},#{pc_order})
	</insert>
	
	<select id="selectProcess" resultType="process">
		SELECT * FROM process
	</select>
	
	<!-- <sql id="search">
		<if test="searchType == 't'.toString()">
			AND title LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'w'.toString()">
			AND writer LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'c'.toString()">
			AND content LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'tc'.toString()">
			AND ( 
			title LIKE '%' || #{keyword} || '%'
			OR
			content LIKE '%' || #{keyword} || '%'
			)
		</if>
		<if test="searchType == 'cw'.toString()">
			AND ( 
			writer LIKE '%' || #{keyword} || '%'
			OR
			content LIKE '%' || #{keyword} || '%'
			)
		</if>
		<if test="searchType == 'tcw'.toString()">
			AND (
			title LIKE '%' || #{keyword} || '%'
			OR
			writer LIKE '%' || #{keyword} || '%'
			OR
			content LIKE '%' || #{keyword} || '%'
			)
		</if>
	</sql> -->
	
	<!-- 셀렉트할때는 리절트타입 필요하고 insert delete 등할때는 파라미터 타입이 들어감 -->
	<select id="selectSearchProcessList" resultType="process">
		SELECT *
		  FROM process
		 WHERE 1=1
<!-- 		 <include refid="search"/> -->
		 ORDER BY pc_no desc
	</select>
	
	<select id="selectSearchProcessListCount" resultType="int">
		SELECT COUNT(*)
		  FROM process
		 WHERE 1=1
<!-- 		 <include refid="search"/> -->
	</select>

</mapper>