<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.WhDAO">
	
	<!-- 시퀀서 앞에 코드를 붙여준다 -->
<!-- 	<selectKey keyProperty="est_no" order="BEFORE" resultType="java.lang.String"> -->
<!-- 			SELECT ('EST_') || CASE  -->
<!-- 				WHEN LENGTH(estimate_seq.nextval) = 1 -->
<!-- 				THEN '00' || estimate_seq.nextval -->
<!-- 				WHEN LENGTH(estimate_seq.nextval) = 2 -->
<!-- 				THEN '0' || estimate_seq.nextval -->
<!-- 				ELSE '' || estimate_seq.nextval -->
<!-- 	   	    	END EST_NO -->
<!-- 		   FROM dual -->
<!-- 	</selectKey> -->
	
	<sql id="search">
		<if test="searchType == 'number'.toString()">
			AND pc_no LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'code'.toString()">
			AND pc_code LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'title'.toString()">
			AND pc_name LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'nnc'.toString()">
			AND (
			pc_no LIKE '%' || #{keyword} || '%'
			OR
			pc_code LIKE '%' || #{keyword} || '%'
			OR
			pc_name LIKE '%' || #{keyword} || '%'
			)
		</if>
	</sql>
	
	<!-- 셀렉트할때는 리절트타입 필요하고 insert delete 등할때는 파라미터 타입이 들어감 -->
	<select id="selectSearchWhList" resultType="wh">
		SELECT	*
		FROM	wh
		WHERE	1=1
		<include refid="search"/>
		ORDER BY wh_no
	</select>
	
	<select id="selectSearchWhListCount" resultType="int">
		SELECT	COUNT(*)
		FROM	wh
		WHERE	1=1
		<include refid="search"/>
	</select>
	
	<insert id="insertWh" parameterType="wh">
		INSERT INTO wh	
		(
			wh_no,
			sys_regdate,
			emp_no,
			enabled,
			files,
			wo_no,
			sys_up,
			sys_updatedate,
			sys_reg,
			wh_total
		)
		VALUES
		(
			wh_no_seq.nextval,
			sysdate,
			#{emp_no},
			1,
			#{files},
			#{wo_no},
			#{sys_up},
			#{updatedate},
			#{sys_reg},
			#{wh_total}
		)
	</insert>
	
</mapper>