<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.WhTransferDAO">

	<sql id="search">
		<if test="cri.searchType == 'w'.toString()">
			AND e.E_NAME LIKE '%' || #{cri.keyword} || '%'
		</if>
		<if test="cri.searchType == 't'.toString()">
			AND w.WO_NAME LIKE '%' || #{cri.keyword} || '%'
		</if>
		<if test="cri.searchType == 'tw'.toString()">
			AND (
			w.WO_NAME LIKE '%' || #{cri.keyword} || '%'
			OR
			e.E_NAME LIKE '%' || #{cri.keyword} || '%'
			)
		</if>
	</sql>
	
	<select id="selectSearchWhTransferList" resultType="Map">
		SELECT wht.*, pr.pr_name, wa.wh_name wh_name, wa2.wh_name wh_name2
		FROM WHTRANSFER wht, wht_detail whtd, product pr, warehouse wa, warehouse wa2
		WHERE 1=1
		AND wht.wt_no = whtd.wt_no
		AND whtd.pr_no = pr.pr_no
		AND pr.wh_no = wa.wh_no
		AND wht.wh_no = wa.wh_no
		AND wht.wh_no2 = wa2.wh_no
		AND wht.c_no = #{c_no}
		<include refid="search"></include>
		ORDER BY wht.sys_regdate desc
	</select>
	
	<select id="selectSearchWhTransferListCount" resultType="int">
		SELECT 	COUNT(*)
		FROM	whtransfer
		WHERE	1=1
		AND		c_no = #{c_no}
		<include refid="search"></include>
	</select>
	
	<!-- 보내는 창고의 재고 조회 -->
	<select id="whtSelectWareHouseList" resultType="Map">
		SELECT	*
		FROM	product
		WHERE	1=1
		AND		wh_no = #{wh_no}
		AND		c_no = #{c_no}
		<include refid="search"></include>
		ORDER BY pr_no desc
	</select>
	
	<select id="whtSelectWareHouseListCount" resultType="int">
		SELECT 	COUNT(*)
		FROM	product
		WHERE	1=1
		AND		wh_no = #{wh_no}
		AND		c_no = #{c_no}
		<include refid="search"></include>
	</select>
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

</mapper>